*{
    padding: 0;
    margin: 0;
    background-color: rgb(139, 139, 139);
    text-align: center;
    color: rgb(0, 0, 0);
}

body{
    border: solid;
    border-radius: 7px;
    width: 350px;
    margin: auto;
    margin-top: 250px;
}

h2{
    padding: 5px;
}

input{
    width: 80px;
    background-color: white;
    color: black;
}

